@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

                                      /* GLOBAL CSS */
body{
  background-color: #f6f6f6!important;
  font-family: 'Crimson Text', serif;
}

.topMargin{
  margin-top: 100px;
}
.span{
  color:#e74c3c;
}


/* NAVBAR CSS */
.menu{
  background-color: #fff!important;
  margin: 60px 0px;
}

.menuHead{
  font-size: 18px;
  margin :30px 0px;
}
.menuItem{
  padding:20px;
}
.menuItem:hover{
  color:#e74c3c!important;
}




                                      /* SKILLS PAGE CSS */

                                      /* WORK EXPERINCE  */

                                        /* PORTFOLIO CSS */

                                        /* CONTACT CSS */



@media screen and (max-width:768px){
  .menu{
    margin-top: 0px !important;
  }
  .topMargin{
    margin-top: 0px!important;
  }
}